body {
	margin: 0px auto;
	max-width: 750px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}
/* Header - Шапка сайта */
.header {
	background-color: #2d7053;
}
.circle
{
	width: 140px;
	height: 140px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	margin: 46px 58px 48px 37px;
}
.h1 {
	display: inline-block;
	width: 17%;
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	margin-top: 52px;
	vertical-align: top;

}
.lines {
	display: inline-block;
	margin-bottom: 83px;
	margin-left: 250px;
}
.line {
	width: 85px;
	height: 13px;
	background-color: #fff;
	margin-bottom: 15px;
	border-radius: 6px;
}
/* Section1 - Запсиь на приём */
.fon {
	display: block;
	background-image: url(../img/room.jpg);
	background-repeat: no-repeat;
	padding-top: 343px;
	padding-bottom: 48px;
	max-width: 100%;
}
.btn {
	margin-left: 206px;
	text-decoration: none;
	color: #fff;
	background-color: #cb9223;
	font-size: 24px;
	display: block;
	width: 342px;
	padding: 29px 0px 29px 45px;
}
/* Section2 - инфрмация о психологе */
.foto {
	display: inline-block;
	width: 247px;
	margin: 73px 73px 60px 44px;
}
.info {
	display: inline-block;
	vertical-align: top;
	margin-top: 134px;
	font-size: 36px;
}
.name {
	font-weight: 400;
}
.spec {
width: 300px;
font-size: 24px;
font-weight: 400;
}
.text {
	width: 590px;
	font-size: 24px;
	margin-left: 44px;
}
.reasons {
	font-size: 36px;
	font-weight: 400;
	margin-left: 44px;
}
.list {
	list-style: none;
	font-size: 24px;
}
.btn2 {
	margin-top: 43px;
	position:relative;
}
/* Футер */
.footer {
	margin-top: 49px;
	background-color: rgba(0, 0, 0, .4);
}
.circle2 {
	width: 92px;
	height: 92px;
	margin: 29px 175px 28px 44px;
	display: inline-block;
}
.phone {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	margin: 29px 0px 29px 527px;
	width: 136px;
	vertical-align: top;
}
.contacts {
	display:inline-block;
	width: 400px;
	vertical-align: top;
	margin-left: 286px;
	margin-bottom: 36px;
}
.adress {
	display: inline-block; 
	color: #fff;
	margin-right: 38px;
  vertical-align: top;
}
.mail {
	color: #fff;
	text-decoration: none;
	vertical-align: top;
}